<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card" style="width: 20rem;">
        <img alt="..." class="card-img-top" src="/assets/img/avatar.png">
        <div class="card-body">
          <h5 class="card-title">Profilo di {{user.name}} {{user.lastname}}</h5>
          <p class="card-text">{{user.username}}</p>
          <p class="card-text">{{user.email}}</p>
        </div>
      </div>
    </div>
    <app-update-profile></app-update-profile>
  </div>
</div>
