<form (ngSubmit)="onSubmit()" [formGroup]="feedbackForm" class="form">
  <div class="form-group">
    <label for="feed">Feed</label>
    <input class="form-control" formControlName="feed" id="feed" type="text">
    <div *ngIf="feedbackForm.get('feed').dirty && !feedbackForm.get('feed').valid" class="alert alert-danger">Campo non
      valido
    </div>
  </div>
  <div class="form-group">
    <label for="rating">Rating</label>
    <input class="form-control" formControlName="rating" id="rating" max="10" min="1" type="number">
    <div *ngIf="feedbackForm.get('feed').dirty && !feedbackForm.get('feed').valid" class="alert alert-danger">Campo non
      valido
    </div>
  </div>
  <button [disabled]="!feedbackForm.valid" *ngIf="idExistingFeedback !== 0" class="btn btn-primary">Modifica recensione</button>
  <button [disabled]="!feedbackForm.valid" *ngIf="idExistingFeedback === 0" class="btn btn-success">Salva recensione</button>
</form>

